.steppe .inlineblock {
  display: inline-block;
}

.steppe div.players {
  height: 100%;
  width: 160px;
}

.steppe table.ban {
  border-collapse: collapse;
}
.steppe table.ban th {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}
.steppe table.ban td {
  border: 1px #000000 solid;
  background-color: #FDD775;
  padding: 0px;
}
.steppe table.ban td,
.steppe table.ban td img,
.steppe div.hand span.capturedpiece img {
  padding: 0;
  border-spacing: 0;
  width: 48px;
  height: 48px;
  vertical-align: middle;
}

.steppe div.hand {
  height: 186px;
  width: 100%;
}

.steppe div.hand div.name {
  text-align: center;
  /*
  バランの色
  */
  background-color: #36af46;
  margin-bottom: 0;
  margin-top: auto;
  width: 100%;
}

.steppe div.hand div.box {
  display: inline-block;
  background-color: #FDD775;
  margin-bottom: 0;
  margin-top: auto;
  width: 100%;
  height: 160px;
}

.steppe div.hand span.capturedpiece {
  display: inline-block;
  position: relative;
  width: 52px;
  height: 50px;
}

.steppe div.hand span.capturedpiece span.value {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 22px;
}

.steppe div.players select.list {
  font-size:12px;
  width:100%;
  height:70%;
  overflow: scroll;
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

.steppe div.graph {
  width: 400px;
  height: 600px;
}
